html{
    height: 100%;
}

body{
    width: 100%;
    background:
            linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
            linear-gradient(207deg, #151515 5px, transparent 5px) 10px,
            linear-gradient(27deg, #222 5px, transparent 5px) 0 10px,
            linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
            linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
            linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424) #131313;

    background-size: 20px 20px;
    font-family: "Bookman Old Style", sans-serif;
}

h1{
    text-decoration: underline;
}

header, footer, legend, p, .form-check-label{
    color:  navajowhite;
}

legend, label{
    font-size: medium;
}

footer{
    font-size: smaller;
}

form{
    border: 3px solid dimgrey;
    border-radius: 15px;
    background: rgba(105,105,105,0.5);
}

#googleMap, #streetView{
    border-radius: 10px;
    border: 4px solid dimgrey;
    width:100%;
    height:350px;
}


#searchInput{
    border-radius: 10px;
    border: 3px solid dimgrey;
}

.border-right{
    border-color: dimgrey !important;
}